footer {
    background-color: #f9f9f9;
    padding: 20px;
    color: #555;

    .footer-container {
        @include flex(flex,space-between, center);
        flex-wrap: wrap;
        font-size: 15px;
    }

    .footer-column {
        flex: 1 1 300px;
        margin-bottom: 20px;

        h4 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        p {
            margin: 5px 0;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 5px;

                a {
                    color: #555;
                    text-decoration: none;

                    .footer-bottom {
                        margin-top: 20px;
                        text-align: center;
                    }
                }
            }
        }
    }
}