header {
    font-size: 9px;
    h1 {
        color: nth($colores, 1);
        background-color: nth($background-color, 3);
        font-style: oblique;
        box-shadow: -1px 1px 7px 0px black;
        border-radius: 4px;
    }

    nav {
        display: block;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;

        .search {
            @include flex(flex,space-around, center);
            left: 50%;
            padding: 15px;
            border-radius: 40px;
            
        }

        .search-text {
            color: nth($colores, 1);
            font-size: 20px;
            float: left;
            line-height: 40px;
        }

        .menu-horizontal {
            list-style: none;
            @include flex(flex,space-around, center);
            background-color: nth($background-color, 2);
            li a {
                display: block;
                padding: 15px 20px;
                color: nth($colores, 1);
                text-decoration: none;
            }
            li {
                &:hover {
                background-color: nth($background-color, 8);
                }
            }
            .menu-vertical {
                position: absolute;
                display: none;
                list-style: none;
                background-color: nth($background-color, 1);
                
                li{
                    &:hover {
                    background-color: nth($background-color, 4);
                    }
                    a {
                    display: block;
                    color: nth($colores, 5);
                    padding: 15px 15px 15px 20px;
                    }
                }
            }
        }
    }
    .intro {
        background-color: nth($background-color, 2);
        text-align: center;
        font-style: oblique;
        
    }
}
