main {
    font-size: 10px;
    p {
        background-color: nth($background-color, 2);
    }
    h2 {
        font-size: 20px;
        color: black;
        margin-top: 10%;
        font-style: oblique;
        background-color: $color-h2;
        width: 100%;
    }
    section{
        h3 {
        color: black;
        font-size: 22px;
        margin-top: 25px;
        margin-bottom: 25px;
        background-color: $color-h3;
        width: 100%;
        }
    }

    .grid-container {
            display: grid;
            width: 100%;
            margin: 0%;
            grid-template-columns: 1fr ;
            box-shadow: -1px 1px 7px 0px black;
            font-size: 8px;
            grid-template-areas:
                "header"
                "nav"
                "main "
                "footer ";

                .products {
                    box-shadow: -1px 1px 7px 0px black;
                    padding: 10px;
                    text-align: center;
                    gap: 10px;
                }
        
                .info-product {
                    display: inline-block;
                    width: 40%;
                    margin-bottom: 10%;
                    border-radius: 5px;
                    color: black;
                }
        
                .title-product {
                    background-color: aliceblue;
                    width: 80%;
                    border-radius: 5px;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
        
                .price-product {
                    display: inline-block;
                    background-color: goldenrod;
                    width: 40%;
                    border-radius: 5px;
                    padding: 10px;
                    text-decoration: none;
                }
        
                .image-product {
                    border-radius: 30px;
                    width: 200px;
                    height: 300px;
                    margin-bottom: 0px;
                }
            }

    .form {
        background-color: silver;
        color: black;
        box-shadow: 7px 13px 37px black;
        font-size: 12px;
        height: 400px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        margin-bottom: 30px;
        

        p {
            height: 40px;
            text-align: center;
            font-size: 18 px;
            line-height: 40px;

            a:hover {
                color: white;
                text-decoration: underline;
            }

            .boton {
                border: none;
                padding: 12px;
                color: white;
                margin: 16px 0;
                font-size: 16px;
                background: rgb(218, 81, 12);
            }
        }

        .control {
            background-color: white;
            padding: 10;
            font-size: 18px;
            border: 1px solid;
            margin-bottom: 16px;
        }
    
    }

    h4 {
        color: black;
    }

    h5 {
        color: white;
    }
    .button {
        background-color: indigo;
        color: black;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
        &:hover {
            background-color: red;
            color: white;
        }
    }
}