/* reset */
* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../image/tormenta.jpg.png);
    background-repeat: repeat;
    font-size: 26px;
    font-family: Arial, sans-serif;
    font-style: oblique;
}