//*Variables
$color-h2: #d26492;
$color-h3: #EF476F;

//*Lista
$colores:
black, //
silver, //
indigo, //
white, //
aliceblue, //
red, //
#A44D75; //

$background-color:
black, //*1
white, //*2
#8B4E76, //*3
indigo, //*4
#EF476F, //*5
aliceblue, //*6
red, //*7
#A44D75; //*8


@mixin flex($flex, $justify-content, $align-items) {
    display: $flex;
    justify-content: $justify-content;
    align-items: $align-items;
}  